{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" />
    <title>CHAT BOX</title>
  </head>

<body>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="{% static 'image/computer-user_1.png' %}" class="online" alt="" />
          <p>{{ user }}</p>
          <a href="/logout" class="logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="description">
        <br>
        <br>
        <p>This is a project for my portfolio and an example of functional testing.</p>
        <br>
        <p>The project is developed using Django framework and django-channels library.</p>
        <br>
      </div>
    </div>
    <div class="content">
      <div class="contact-profile">
          <p>WELCOME TO THE CHAT BOX</p>
      </div>
          <div class="rooms">
              <div class="container">
                  <p>Create a room or connect</p>
                  <br>
                  <br>
                  <input id="room-name-input" type="text" placeholder="Enter the name of the room..." />
                  <button id="room-name-submit"><span>Create a new room</span></button>
                  <br>
                  <br>
                  <div class="created_rooms">
                      <table id="created_rooms_display" style="width: 100%"></table>
                  </div>
              </div>
          </div>
    </div>
  </div>
{{ new_group_id|json_script:"new_group_id" }}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/groups.js' %}"></script>
</body>
</html>