{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" />
  </head>

<body>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
          <p>{{ user }}</p>
          <a href="/logout" class="logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
          <div id="status-options">
            <ul>
              <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
              <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
              <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
              <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
            </ul>
          </div>
        </div>
      </div>
        <div class="description">
            <p>Это проект для портфолио. Онлайн чат на вебсокете. Является тестовым примером.</p>
            <br>
            <br>
            <p>Вы можете присоединиться к комнате, к которой у вас есть доступ или создать новую.</p>
        </div>
    </div>
    <div class="content">
      <div class="contact-profile">
          {% block header %}
            <p>WELCOME TO THE CHAT BOX</p>
          {% endblock header%}
      </div>
        {% block content %}
          <div class="rooms">
              <div class="container">
                  <p>Create a room or connect</p>
                  {% if request.user.is_authenticated and request.user.first_name %} Hello, <p>{{ username }}<p>
                  {% else %}
                  {% endif %}
                  <br>
                  <br>
                  <input id="room-name-input" type="text" placeholder="Enter the name of the room..." />
                  <button id="room-name-submit"><span>Create</span></button>
                  <br>
                  <br>
                  <div class="messages"></div>
                  <button onclick="on_send()" id="send" class="btn btn-primary">Send</button>
                  <textarea id="chat-log" cols="50" rows="2"></textarea><br>
              </div>
          </div>
        {% endblock %}
    </div>
  </div>

<script src="{% static 'js/main.js' %}"></script>
  {% block js %}
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;

            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
  <script>
      const  chatSocket = new WebSocket(
          'ws://'
          + window.location.host
          + '/ws/groups/'
      );
      window.onload = function () {
          chatSocket.send(JSON.stringify({
          'event': 'user.list',
          'data': {}
        }));
      };

      chatSocket.onmessage = function(e) {
          const data = JSON.parse(e.data);
          var users_list = data.data
          console.log(data)
          console.log(users_list)
          // $('.messages').append(users_list);
          // $('.messages').append("<br>");
          // $('.messages').append("END2");
          for (var i=0; i<=users_list.length-1; i++) {
              $('.messages').append(users_list[i]['username'] +'<br>');
              console.log(users_list[i]['username']);

        }
      }
  </script>
{% endblock js %}
</body>

</html>