{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" />
  </head>

<body>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="{% static 'image/computer-user_1.png' %}" class="online" alt="" />
          <p>{{ username }}</p>
          <a href="/" class="logout"><i class="fa fa-reply" aria-hidden="true" title="Return to the home page"></i></a>
        </div>
      </div>
      <div id="contacts">
          {% for user in users_list %}
          <ul>
            <li class="contact">
              <div class="wrap">
              <img src="{% static 'image/user_1.png' %}"/>
              <div class="meta">
                <table style="width: 75%">
                  <tr>
                    <th>
                      <p class="name">{{ user.username }}</p>
                    </th>
                    <th id="{{user.username}}">
                        <a id="{{user.id}}" class="add_user_button"><i style="float: right" class="fa fa-user-plus fa-fw" aria-hidden="true" title="Add user to the chat room"></i></a>
                    </th>
                  </tr>
                </table>
              </div>
              </div>
            </li>
          </ul>
        {% endfor %}
      </div>
    </div>
    <div class="content">
      <div class="contact-profile">
        <p class="group_name">{{ group_name }}</p>
        <p class="user_list_in_group" id="participants">{% for user in group_users %}{{ user }}&nbsp;{% endfor %}</p>
      </div>
      <div class="messages">
        <ul id="chat-log"></ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <input id="chat-message-input" type="text" placeholder="Write your message..." />
        <i id="view-history" class="fa fa-history attachment" aria-hidden="true" title="View history"></i>
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true" title="Send message"></i>
        </button>
        </div>
      </div>
    </div>
  </div>
  {{ username|json_script:"username" }}
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/chat.js' %}"></script>
</body>
</html>