{% extends 'login_base.html' %}
{% block title %}
Registration
{% endblock %}
{% block form %}
<form method="post">
    {% csrf_token %}
    {% if form.error %}
        {% for error in form.errors %}
            {{ error }} <br>
        {% endfor %}
    {% endif %}
    <fieldset class="clearfix">
        <p><span class="fontawesome-user"></span>{{ form.username }}</p>
        <p><span class="fontawesome-lock"></span>{{ form.password }}</p>
        <p><span class="fontawesome-envelope"></span>{{ form.email }}</p>
        <p><input type="submit" value="Register"></p>
    </fieldset>
</form>
<p>Already have account ? &nbsp;&nbsp;<a href="/login">Sign in</a><span class="fontawesome-arrow-right"></span></p>
{% endblock %}